@font-face {
    font-family: comf;
    src: url(./fonts/Comfortaa-Regular.ttf);
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

* {
    margin: 0;
    border: 0;
}

body {
    overflow-x: hidden;
    overflow: overlay;
    background-color: black;
}

/*  Scrollbar */

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #00000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  /* Navbar */

.navbar {
    background-color: rgba(0, 0, 0, 0.767);
    position: fixed;
    z-index: 999;
    width: 100%;
    color: white;
    font-size: 2rem;
    padding: 15px;
    display: flex;
    align-items: center;

}

.navlogo {
    height:calc(10px + 1.5vw);
    margin-left: 10px;
    margin-top: 1vh;
    transition: 1s;
}

.navlogo:hover {
    scale: 1.05;
}

.navoptions {
    position: absolute;
    right:calc(10px + 3vw);
    display: flex;
    align-items: center;
    margin-right: 2vw;
}

.option {
    margin-left: 2vh;
    font-size:calc(15px + 0.7vw);
    color: orangered;
    transition: 0.5s;
    font-family: comf;
}

.option:hover {
    transform: scale(1.06);
    color: white;
    cursor: pointer;
}

/* Video */

.video {
    width: 100vw;
    max-height: 100vh;
    background-color: black;
}

.foodvid {
    width: 100%;
    height: auto;
    opacity: 50%;
}

.persianman {
    max-width: 25vw;
    max-height: auto;
    margin-bottom: -4vh;
}

.saflogomiddle {
    max-width: 25vw;
    max-height: auto;
}

.logoholder {
    position: absolute;
    top: 29%;
    left: 37.5%;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.logotext {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: 100;
    font-size: 3vh;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid orangered;
    padding: 3px;
}

/* Main */

.main {
    color: white;
}

/* .separator {
    border-radius: 5px;
    width: 30vw;
    height: 10px;
    margin-left:calc(0px + 15vw);
    background-color: orangered;
} */

/* Mobile Compatibility */

@media screen and (max-width: 700px) {
    body {
        background-color: rgba(0, 0, 0, 0);
    }
    .navlogo {
        width: 90px;
        height: 20px;
        margin-left: 10px;
    }
    .navbar{
        padding: 7px;
    }
    .option {
        opacity: 0;
    }
    .logoholder {
        width: 100%;
        position: absolute;
        top: 10vh;
        left: 0vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logotext {
        opacity: 0;
    }
    .saflogomiddle {
        width: 200px;
    }
    .persianman {
        margin-bottom: -0vh;
    }
}