

* {
    margin: 0;
    border: 0;
}

body {
    overflow-x: hidden;
    overflow: overlay;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #00000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #00000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

/* 
Navbar */

.navbar {
    background-color: rgba(0, 0, 0, 0.767);
    position: fixed;
    z-index: 999;
    width: 100%;
    color: white;
    font-size: 2rem;
    padding: 15px;
    display: flex;
    align-items: center;

}

#navlogo {
    height: 3vh;
}

.navoptions {
    position: absolute;
    right: 2vw;
    display: flex;
    align-items: center;
    margin-right: 2vw;
}

.option {
    margin-left: 2vh;
    font-size: 2.5vh;
    color: #ffffffe0;
}

/* Video */

.video {
    width: 100vw;
    background-color: black;
}

.foodvid {
    width: 100%;
    height: auto;
    opacity: 50%;
}

.saflogomiddle {
    max-width: 25vw;
    max-height: auto;
}

.logoholder {
    position: absolute;
    top: 48%;
    left: 37%;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.logotext {
    color: rgba(255, 255, 255, 0.808);
    font-style: italic;
    font-weight: 100;
    font-size: 3vh;    
    display: flex;
    align-items: center;
    justify-content: center;
}